/* Global styles START*/
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav {
  background-image: url("../images/line.jpg");
  background-size: 100%;
  height: 200px;
}

nav div {
  padding-right: 70px;
  padding-top: 100px;
  color: snow;
  font-size: 40px;
  text-align: right;
  font-weight: bold;
}
/* Global styles END*/

/* Main content section START*/
/* TODO: Need to have the links in the right side and space between them */
#links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* To fill to whole space to the left side */
  flex: 1;
  padding-right: 50px;
  padding-bottom: 40px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: bold;
  text-align: center;
  background-color: #ededf7;
}

.frame {
  display: flex;
  width: 80%;
}

.title {
  border-right: 5px solid #435d7e;
  width: 200px;
  padding-right: 10px;
  text-align: right;
}

.content {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  /* To fill to whole space to the left side */
  flex: 1;
  padding-left: 50px;
}

#all_projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#large_project {
  /* TODO: Border is bluered as well. filter: blur(0px) doesn't work. Looks like it is affected by the pictures properties. */
  border-style: solid;
  border-color: #91cbcd;
  /* To fill to whole space to the left side */
  flex: 1;
  position: relative;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  height: 250px;
  flex-direction: row;
  border-style: solid;
  text-align: left;
  /* To fill to whole space to the left side */
  flex: 1;
  position: relative;
  border-style: solid;
  border-color: #91cbcd;
}
/* Main content section END*/

/* Text styles START */
h1 {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: snow;
  font-size: 40px;
}

h2 {
  font-size: 50px;
  color: #435d7e;
}

h3 {
  padding-bottom: 5px;
  border-bottom: 5px solid #435d7e;
  display: block;
  text-align: center;
  text-decoration: none;
}

#links h3 {
  color: #91cbcd;
  border-bottom: 5px solid #91cbcd;
  margin-right: auto;
  padding-top: 30px;
}

h4 {
  font-size: 20px;
}

/* Text styles END */

/* Links styles START */
.content a {
  margin: auto;
  text-decoration: none;
}

/* To remove an initial underline for links*/
#links a {
  text-decoration: none;
}
/* Links styles END */

/* Images styles START */
#large_project img:first-child {
  height: 100%;
  width: 100%;
  filter: blur(4px);
}

.project img:first-child {
  height: 100%;
  width: 100%;
  filter: blur(4px);
}

/* Small image*/
.name {
  /* Position to "#large_project" AND ".project" */
  position: absolute;
  bottom: 10%;
  left: 0;
  width: fit-content;
  height: auto;
}
/* Images styles END */

/* Actions START */
#large_project img:hover {
  filter: blur(0px);
}

.project img:hover {
  filter: blur(0px);
}
/* Actions END */

/* Media START */
@media screen and (max-width: 768px) {
  .title h2 {
    font-size: 5px;
  }
}

@media screen and (max-width: 500px) {
  .title h2 {
    font-size: 100px;
  }
}
/* Media END */
