/* Global styles START*/
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header div {
  margin-left: 30px;
}

#name_surname {
  margin-left: 0px;
}

#resume_navigation_menu {
  margin-right: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-image: url("../images/line.jpg");
  background-size: 100%;
  height: 200px;
}

nav div {
  padding-right: 70px;
  padding-top: 70px;
  color: black;
  font-size: 40px;
  text-align: right;
  font-weight: bold;
}

footer .content {
  display: flex;
}
/* Global styles END*/

/* Main content section START*/
#links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* To fill the whole space on the left side */
  flex: 1;
  padding-right: 50px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: bold;
  text-align: center;
  background-color: #ededf7;
}

.frame {
  display: flex;
  width: 80%;
  /* To make a gap between sections*/
  margin-top: 50px;
}

.title {
  border-right: 5px solid #435d7e;
  width: 200px;
  padding-right: 10px;
  text-align: right;
}

.content {
  /* display: flex; */
  flex-wrap: wrap;
  text-align: left;
  /* To fill the whole space on the left side */
  flex: 1;
  padding-left: 50px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project {
  /* To fill the whole space on the left side */
  flex: 1;
  position: relative;
  border-style: solid;
  border-color: #91cbcd;
  /* To do not blur an image border */
  overflow: hidden;
  height: 250px;
  margin: 10px;
}

/* To set the first image bigger */
#large_image {
  height: 500px;
}
/* Main content section END*/

/* Text styles START */
h1 {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  font-size: 32px;
}

header div h1 {
  background-color: #91cbcd;
  padding-inline-end: 20px;
  display: inline-block;
}

nav div h1 {
  background-color: #91cbcd;
  background-position: right;
  display: inline-block;
  padding-inline-end: 20px;
}

#name_surname h1 {
  padding-left: 20px;
}

h2 {
  font-size: 50px;
  color: #435d7e;
}

h3 {
  padding-bottom: 5px;
  border-bottom: 5px solid #435d7e;
  display: block;
  text-align: center;
  text-decoration: none;
}

#links h3 {
  color: #91cbcd;
  border-bottom: 5px solid #91cbcd;
  margin-right: auto;
  padding-top: 20px;
}

h4 {
  font-size: 20px;
  margin-top: 0px;
}
/* Text styles END */

/* Links styles START */
.content a {
  margin: auto;
  text-decoration: none;
}

/* To remove an initial underline for links*/
#links a {
  text-decoration: none;
}
/* Links styles END */

/* Images styles START */
nav div:first-child {
  padding-top: 0px;
}

.avatar {
  padding-top: 0px;
  height: 200px;
  /* margin-left: 40px; */
  margin-left: 20px;
}

.project img:first-child {
  height: inherit;
  width: 100%;
  filter: blur(4px);
}

/* Small image*/
.name {
  /* Position to ".project" */
  position: absolute;
  bottom: 10%;
  left: 0;
  width: fit-content;
  /* height: inherit; */
}
/* Images styles END */

/* Actions START */
#large_project img:hover {
  filter: blur(0px);
}

.project img:hover {
  filter: blur(0px);
}
/* Actions END */

/* Media START */
@media screen and (max-width: 1100px) {
  header div {
    margin-left: 5px;
  }

  #name_surname h1 {
    padding-left: 20px;
  }

  footer .content {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .wrapper {
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .frame {
  display: block;
  width: 100%;
  }

  #links {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .title {
    width: auto;
    border-right: none;
    border-bottom: 5px solid #435d7e;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    padding-right: 0px;
  }

  .title h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .project {
    height: 150px;
  }

  #large_image {
    height: 300px;
  }
  
  .name {
    width:50%;
    min-width: 170px;
    height: 30%;
    min-height: 60px;
    bottom: 0;
    left: 0;
  }

  h1 {
    font-size: 30px;
    margin-block-end: auto;
    margin-top: 0px;
    padding-left: 20px;
    text-align: center;
  }

  .content {
    padding-left: 10px;
  }

  nav {
    flex-direction: column;
    justify-content: unset;
    height: 270px;
    background-size: 220%;
  }

  nav div {
    padding-top: 0px;
    padding-right: 0px;
    text-align: center;
  }

  .avatar {
    margin-left: 0px;
  }

  footer .content {
    display: flex;
    flex-direction: column;
  }

  h4 {
    font-size: 15px;
  }

  #links h3 {
    padding-top: 0px;
  }

  #resume_navigation_menu {
    margin-right: 0px;
  }
}

@media screen and (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  #links {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .title {
    width: auto;
    padding-right: 0px;
  }
  

  .title h2 {
    font-size: 30px;
    margin-block-end: 0.3em;
  }

  .projects {
    display: flex;
    flex-direction: column;
  }

  .project {
    height: 100px;
  }

  #large_image {
    height: 200px;
  }
  
  .name {
    height: 40%;
    bottom: 0;
    left: 0;
  }

  h1 {
    font-size: 20px;
    margin-block-end: auto;
  }

  .content {
    padding-left: 2px;
  }

  nav {
    height: 90px;
  }
  
  nav div {
    padding-top: 0px;
    padding-right: 0px;
    text-align: center;
  }

  nav div h1 {
    margin-top: 20px;
  }

  .avatar {
    display: none; 
  }

  footer .content {
    display: flex;
    flex-direction: column;
  }

  footer h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .wrapper {
    justify-content: start;
  }

  #links {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .title {
    width: none;
  }

  .title h2 {
    font-size: 30px;
    margin-block-end: 0.3em;
  }

  .projects {
    display: flex;
    flex-direction: column;
  }

  .project {
    height: 50px;
  }

  #large_image {
    height: 100px;
  }

  .name {
    min-width: 100%;
    bottom: 0;
    left: 0;
  }

  h1 {
    font-size: 15px;
    margin-block-end: auto;
  }

  .content {
    padding-left: 0px;
  }

  nav {
    height: 70px;
  }

  nav div {
    padding-top: 0px;
    padding-right: 0px;
    text-align: center;
  }

  nav div h1 {
    margin-top: 20px;
  }

  footer .content {
    display: flex;
    flex-direction: column;
  }

  footer h3 {
    font-size: 10px;
  }

  h4 {
    font-size: 10px;
  }
}
/* Media END */